<h1>Result</h1>
<p><span class=<%= @first_class %>><%= @first_seg %></span> <span class=<%= @second_class %>><%= @second_seg %></span> <span><%= @third_seg %></span></p>
<%= link_to "Play again", new_path %>
